body {
    margin: 500px;
    border: 2%;
}

h2 {
    text-align: center;
    font-style: oblique;
    /* text-decoration-line: underline; */
    /* text-decoration-style: wavy; */
    text-decoration: underline wavy blue;
    color: rgba(36, 130, 12, 0.737);
}

.parent {
    width: 400px;
    border: 6px solid rgb(159, 223, 22);
    margin: 25px;
    text-align: center;
}

.child one,
child two,
child three,
child four {
    border: 4px;
    height: 200px;
    width: 150px;
    margin: 40px;
}

.one {
    background-color: powderblue;
}

.two {
    background-color: royalblue;
}

.three {
    background-color: rgb(190, 85, 232);
}

.four {
    background-color: slateblue;
}

#FIXED {
    position: fixed;
    top: 50px;
    left: 50px;
}

#RELATIVE {
    position: relative;
}

#ABSOLUTE {
    position: absolute;
    top: 125px;
    right: 20px;
}

.Fix {
    border: 5px solid;
    border-color: black;
    margin: 15px;
}

.red {
    background-color: red;
    position: fixed;
    width: 200px;
    height: 200px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.wrapper {
    width: 500px;
    height: 400px;
    background: #e3e3e3;
    position: relative;
    margin-bottom: 10px;
}

#front {
    z-index: 2;
}