/* Selector{
    property: value;
} */
* {
    text-align: justify;
}

h2 {
    color: red;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    ;
    font-size: 200%;
}

p {
    line-height: 25px;
    font-style: oblique;
    font-weight: 300;
    font-size: 80%;
    font-family: Georgia, 'Times New Roman';
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}