p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 25px;
    font-size: 16px;
}

Ul {
    text-align: right;
}

li {
    list-style: none;
    display: inline-block;
    background-color: #b0fb84;
    width: 100px;
    border: 2px solid #FF6517;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}


h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    letter-spacing: 4px;
    color: #0B1110;
    border-radius: 25% 10%;
    border: solid #FF6B07 5px;
    margin-left: 200px;
    margin-right: 200px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 34px;
    margin-left: 20px;
    color: #1E3E39;
}

h3 {
    font-family: 'Explora', cursive;
    font-size: 45px;
    margin-left: 20px;
    color: #1C9984;
    font-weight: bold;
}

h4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px;
    margin-left: 20px;
    color: #06E2BD;
    text-decoration: underline dotted #E82A40;
}

footer {
    text-align: center;
    font-weight: bold;
}

.container {
    position: relative;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: warp;
    padding: 30px;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.container .card:hover {
    height: 320px;
}


.container .card .image {
    position: relative;
    width: 260px;
    height: 260px;

    top: -40%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .card .image img {
    max-width: 100%;
    border-radius: 15px;
}

.container .card .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.container .card:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

video {
    float: left;
    padding-right: 20px;
}

#gnomon {
    float: right;
    padding-left: 20px;
}

#sundial {
    float: left;
    padding-right: 20px;
}

#introh {
    margin-bottom: 50px;
    display: flex
}

.intro1 {
    margin-right: 400px;
    background-color: #fddd8b;
}

.cadran {
    margin-right: 400px;
    background-color: #F2D12B;
}

table {
    margin-left: 150px;
    margin-right: 600px;
    table-layout: auto;
    width: 80%;
}

.intit {
    width: 329px;
}

.contentable {
    text-align: justify;
    padding: 15px;
}

.classimg {
    text-align: right;
    padding: 50px;
}